@import "tailwindcss";

@theme inline {
  --color-moka-950: #0d1e05;
  --color-moka-900: #1A3009;
  --color-moka-800: #2D5016;
  --color-moka-700: #3d6b20;
  --color-moka-600: #4e8628;
  --color-moka-500: #6aaa3a;
  --color-moka-400: #8FBA78;
  --color-moka-200: #c4ddb6;
  --color-moka-100: #EAF2E3;
  --color-moka-50:  #F4F7F0;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
